.answers-grid {
    mask-image: linear-gradient(to bottom, transparent 0%, black 48px, black calc(100% - 48px), transparent 100%);
}

.timer {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
}